.weather {
  text-align: center;
  background-color: rgb(232, 243, 248);
  font-family: 'Times New Roman', Times, serif;
}

.row {
  justify-content: center;
  margin: 15px 0;
}

 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
  width: 98%;
  margin: 0 auto;
  background-color: rgb(211, 229, 235);
}

.all__news{
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.head__Text {
  margin-top: 30px;
}

.news{
  max-width: 400px;
  padding: 30px;
  border: 2px solid rgb(14, 32, 31);
  border-radius: 5px;
}

.news__title{
  color: rgba(26, 10, 68, 0.932);
  padding-bottom: 10px;
  font-size: 40px;
  border-bottom: 2px solid rgb(75, 74, 74);
}

.news__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 18px;
  padding-bottom: 10px;
}

.news__author{
  margin-right: 10px;
  color: rgba(46, 5, 46, 0.932);
}

.news__published{
  margin-right: 10px;
  display: inline-block;
  margin-top: 10px;
  color: rgb(21, 5, 66);
}

.news__source {
  display: inline-block;
  margin-top: 10px;
  color: rgb(6, 59, 77);
}
